

body {
	 background-color: lightgray;
}
h1 { text-align: center;
	color: limegreen;
	margin: 200px 200px 200px;
}
.cyan {
	image: url("images/sun2.jpg");
	color: green;
	
}
p {
	color: red;
}
.center { margin-left: 500px;
	color: cyan;
	height: 100;
	width: 70px;
	align-content: center;
}
#text-border {
	border-style: solid;

}
#border {
	border-style: double;
}
#dotted {
	border-style: dotted;
}
h4{
	color: green;
}
div {
	border: 20px solid green;
	
	width: 400px;
	height: 250px;
	margin-left: 400px;

  }
 